/* Website font */

html {
    font-family: Garamond, serif;
}

strong {
    font-weight: unset;
}

/* Font size */

:root {
    --fs-xl: 3.75rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
    --fs-nav: 0.75rem;
    --fs-footer: 0.5rem;
}

body {
    font-size: var(--fs-400);
    letter-spacing: 0.1rem;
}

@media (min-width: 40em) {
    :root {
        --fs-xl: 4.3rem;
        --fs-400: 1.25rem;
        --fs-300: 0.95rem;
        --fs-nav: 0.85rem;
        --fs-footer: 0.6rem;
    }
}

/* CSS animations */

.fade-in {
    animation: fadeIn 3000ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* General webpage structure */

* {
    box-sizing: border-box;
}

html,
body {
    width: auto!important;
    overflow-x: hidden!important;
}

body {
    margin: 0;
    background-color: black;
}

h1, h2 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper.home {
    background-image: url(./images/home-bg-mobile.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: auto;
    color: white;
}

@media (min-width: 40em) {
    .wrapper.home {
        background-image: url(./images/home-bg.jpg);
    }
}

.home-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 0;
}

@media (min-width: 40em) {
    .home-page-content {
        padding-left: 5%;
        align-items: flex-start;
    }
}

.home-page-content h1 {
    font-size: var(--fs-xl);
    font-weight: 100;
}

.home-page-content h2 {
    font-size: var(--fs-300);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
}

.navbar {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 25px;
}

.nav-link {
    font-size: var(--fs-nav);
}

footer {
    font-size: var(--fs-footer);
    margin-bottom: 300px;
}

@media (min-width: 40em) {
    footer {
        text-align: unset;
    }
}